body{
  font-family: Arial, sans-serif;
  background-color: #F8F4FF;
  text-align: center;
  padding: 20px 8px;
  margin: 0;
  align-items: center;
}
h1{
  color: black;
  text-align: center;
  
}
.profile-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  flex-direction: cloumn;
  
}
.card1{
  text-align: center;
  background-color: skyblue;
  width: 33.33%;
  padding: 12px 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-sizing: border-box;
  
}
.card2{
  text-align: center;
  background-color: peachpuff;
  width: 33.33%;
  padding: 12px 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-sizing: border-box;
}
.card3{
  text-align: center;
  background-color: #FFF8B5;
  width: 33.33%;
  padding: 12px 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-sizing: border-box;
}
.card1 img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  
}
.card2 img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  
}
.card3 img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;

}
.card p{
  font-size: 13px;
  line-height: 1.3;
}
